.zoomContainer{z-index: 999;}
.more-views #gallery{margin: 10px 0px;overflow: hidden;}
.more-views #gallery a{float: left;margin-left: 5px;border: 1px solid #fff;}
.more-views #gallery a.zoomGalleryActive{border:1px solid #000;}
#product-page-image img{padding: 0;border: 0;}