<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
$_taxHelper = $this->helper('tax');
$_zoomHelper = $this->helper('mr_zoom');
//if not configured, using default values
$baseWidth = $_zoomHelper->getModuleConfig('general/baseimagewidth') ? $_zoomHelper->getModuleConfig('general/baseimagewidth') : 265;
$baseHeight = $_zoomHelper->getModuleConfig('general/baseimageheight') ? $_zoomHelper->getModuleConfig('general/baseimageheight') : 265;
$thumbnailWidth = $_zoomHelper->getModuleConfig('general/thumbnailwidth') ? $_zoomHelper->getModuleConfig('general/thumbnailwidth') : 56;
$thumbnailHeight = $_zoomHelper->getModuleConfig('general/thumbnailheight') ? $_zoomHelper->getModuleConfig('general/thumbnailheight') : 56;
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
  <?php //show thumbnails
  if (!$_zoomHelper->getModuleConfig('general/disablethumbnail')):
    ?>
    <p class="product-image product-image-zoom" id="product-page-image">
      <?php if (count($this->getGalleryImages()) > 1): ?>
        <?php
        $_img = '<img id="image" src="' . $this->helper('catalog/image')->init($_product, 'image')->resize($baseWidth, $baseHeight) . '" width="' . $baseWidth . '" height="' . $baseHeight . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" data-zoom-image="' . $this->helper('catalog/image')->init($_product, 'image') . '" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
        ?>
      <?php else: ?>
        <a class="magikimage" rel="magikimage"
           href="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>"
           style="display:inline-block;width:<?php echo $baseWidth ?>px;height:<?php echo $baseHeight ?>px;">
          <?php
          $_img = '<img id="image" src="' . $this->helper('catalog/image')->init($_product, 'image')->resize($baseWidth, $baseHeight) . '" width="' . $baseWidth . '" height="' . $baseHeight . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" data-zoom-image="' . $this->helper('catalog/image')->init($_product, 'image') . '" />';
          echo $_helper->productAttribute($_product, $_img, 'image');
          ?>
        </a>
      <?php endif; ?>
    </p>

    <?php if (count($this->getGalleryImages()) > 1): ?>
    <div class="more-views">
      <div id="gallery" class="owl-carousel">
        <?php foreach ($this->getGalleryImages() as $_image): ?>
          <div class="product-thumbnail-item">
            <a href="#" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"
               data-image="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize($baseWidth, $baseHeight); ?>"
               data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile()); ?>">
              <img
                src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize($thumbnailWidth, $thumbnailHeight); ?>"
                alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" class="product-thumbnail"
                />
            </a>
          </div>
        <?php endforeach; ?>
      </div>
    </div>
  <?php endif; ?>

    <?php if (count($this->getGalleryImages()) > 5): ?>
    <script type="text/javascript">
      jQuery(function () {
        jQuery("#gallery").owlCarousel({
          navigation: true,
          pagination: false
        });
      });
    </script>
  <?php endif; ?>
    <script type="text/javascript">
      //<![CDATA[
      jQuery("#image").elevateZoom({
          //zoomLevel: 1
          // easing: !1,
          // easingAmount: 12,
          // lensSize: 200,
          zoomWindowWidth: <?php echo $_zoomHelper->getModuleConfig('general/zoomwindowwidth')?>,
          zoomWindowHeight: <?php echo $_zoomHelper->getModuleConfig('general/zoomwindowheight')?>,
          zoomWindowOffetx: <?php echo $_zoomHelper->getModuleConfig('general/zoomwindowoffsetx')?>,
          zoomWindowOffety: <?php echo $_zoomHelper->getModuleConfig('general/zoomwindowoffsety')?>,
          // zoomWindowPosition: 1,
          zoomWindowBgColour: "<?php echo $_zoomHelper->getModuleConfig('general/zoomwindowbgcolour')?>",
          // lensFadeIn: !1,
          // lensFadeOut: !1,
          // debug: !1,
          // zoomWindowFadeIn: !1,
          // zoomWindowFadeOut: !1,
          // zoomWindowAlwaysShow: !1,
          // zoomTintFadeIn: !1,
          // zoomTintFadeOut: !1,
          borderSize: <?php echo $_zoomHelper->getModuleConfig('general/zoombordersize')?>,
          // showLens: !0,
          borderColour: "<?php echo $_zoomHelper->getModuleConfig('general/zoombordercolour')?>",
          lensBorderSize: <?php echo $_zoomHelper->getModuleConfig('general/lensbordersize')?>,
          lensBorderColour: "<?php echo $_zoomHelper->getModuleConfig('general/lensbordercolour')?>",
          // lensShape: "square",
          zoomType: "<?php echo $_zoomHelper->getModuleConfig('general/zoomtype')?>",
          // containLensZoom: !1,
          lensColour: "<?php echo $_zoomHelper->getModuleConfig('general/lenscolour')?>",
          lensOpacity: <?php echo $_zoomHelper->getModuleConfig('general/lensopacity')?>,
          // lenszoom: !1,
          // tint: !1,
          // tintColour: "#333",
          // tintOpacity: 0.4,
          gallery: 'gallery .product-thumbnail-item',
          galleryActiveClass: "zoomGalleryActive",
          cursor: "<?php echo $_zoomHelper->getModuleConfig('general/zoomtype') == 'window' ? 'pointer' : ''?>"
          // responsive: !1,
          // onComplete: d.noop,
          // onZoomedImageLoaded: function () {},
          // onImageSwap: d.noop,
          // onImageSwapComplete: d.noop
        }
      );

      <?php if($_zoomHelper->getModuleConfig('general/zoomtype') == 'window'):?>
      jQuery("#image").bind("click", function (e) {
        var ez = jQuery('#image').data('elevateZoom');
        var galleryList = ez.getGalleryList();
        if (galleryList.length > 1) {
          jQuery.fancybox(galleryList);
        }
        else {
          jQuery('.magikimage').fancybox(
            {
              helpers: {
                overlay: {
                  locked: false
                }
              }
            }

          );
        }
      });
      <?php endif;?>
      //]]>
    </script>
  <?php //not show thumbnails
  else:
    ?>
    <p class="product-image product-image-zoom">
      <div class="product-image-slider">
        <?php foreach ($this->getGalleryImages() as $_image): ?>
          <div>
            <img
              src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()) ?>"
              alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
          </div>
        <?php endforeach; ?>
      </div>
    </p>

    <script type="text/javascript">
      jQuery(function ($) {
        $('.product-image-slider').owlCarousel({
          navigation: true,
          pagination: false,
          singleItem:true
        });
        jQuery('.product-image-slider .owl-item > div').zoom({
          duration: 0,
          callback: function(){
            jQuery('.product-image-slider .owl-item > div img').css('transition', 'none');//make zoom smoothful
          }
        });
      });
    </script>
  <?php endif; ?>
<?php else: ?>
  <p class="product-image" id="product-page-image">
    <?php
    $_img = '<img  src="' . $this->helper('catalog/image')->init($_product, 'image')->resize($baseWidth, $baseHeight) . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" />';
    echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
  </p>
<?php endif; ?>

